.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
 }

.education__divider__title {
  font-family: 'Kode Mono', monospace;
  color: #008b8b;
  font-weight: bold;
   font-size: 2.2rem;
  border-bottom: 2px solid #008b8b;
 }
 
.education__background {
  width: 70rem;
  height: 50rem;
  opacity: 0.1;
  position: absolute;
}

.education__container-information-education {  
  padding-inline: 2rem;;
  margin-top: 4.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-align: center;
  
 }

 .education__container-information-education span{
  font-size: 1.4rem;
  color: var(--silver)
  }
 

.education__container-information-education
  + .education__container-information-education {
  margin-top: 6rem;
}
