.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-img: url('../assets/cap.svg');
}

.education__divider__title {
  font-family: 'Kode Mono', monospace;
  color: #008b8b;
  font-weight: bold;
  font-family: 'Kode Mono', monospace;
  font-size: 2.2rem;
  border-bottom: 2px solid #008b8b;
  margin: 4rem;
}

.education__divider {
  margin: 6rem auto 4rem auto;
}

.education__background {
  width: 70rem;
  height: 50rem;
  opacity: 0.1;
  position: absolute;
}

.education__container-information-education {
  margin-top: 4.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education__container-information-education
  + .education__container-information-education {
  margin-top: 6rem;
}
